# 更多配置：https://www.pnpm.cn/npmrc

# 配置 npm 的默认镜像源为淘宝镜像源
registry = https://registry.npmmirror.com

# 配置 Electron 相关的国内镜像源
electron_mirror = https://npmmirror.com/mirrors/electron/
electron_builder_binaries_mirror = https://npmmirror.com/mirrors/electron-builder-binaries/

# 当设置为 false 时，pnpm 不会读取或生成 pnpm-lock.yaml 文件
lockfile = true

# 如果 pnpm 无法从registry中获取，重试次数
fetch-retries = 2

# 确保项目中的依赖包版本与 package.json 文件中的版本精确匹配
save-exact = true

# node 版本与 package.json 配置不同的时候，中断命令执行
engine-strict = false

# 开启 node 包执行的钩子 使 pnpm 可以执行用户定义的 hook
enable-pre-post-scripts = true

# 通过该配置兜底解决组件没有类型提示的问题
shamefully-hoist = true

# 解决 pnpm dev 时报错本地 pnpm 版本过高和 package.json 不符的问题
# https://blog.csdn.net/weixin_45487909/article/details/139463251
package-manager-strict = false