# 配置 npm 的默认镜像源为淘宝镜像源
registry = https://registry.npmmirror.com

# 一定程度上解决 vite-plugin-minipic 依赖下载失败的问题
sharp_binary_host = "https://npm.taobao.org/mirrors/sharp"
sharp_libvips_binary_host = "https://npm.taobao.org/mirrors/sharp-libvips"

# 确保项目中的依赖包版本与 package.json 文件中的版本精确匹配
save-exact = true

# node 版本与 package.json 配置不同的时候，中断命令执行
engine-strict = true