# 配置 npm 的默认镜像源为淘宝镜像源
registry = https://registry.npmmirror.com

# 一定程度上解决 vite-plugin-minipic 依赖下载失败的问题
sharp_binary_host = https://registry.npmmirror.com/-/binary/sharp
sharp_libvips_binary_host = https://registry.npmmirror.com/-/binary/sharp-libvips

# 确保项目中的依赖包版本与 package.json 文件中的版本精确匹配
save-exact = true

# node 版本与 package.json 配置不同的时候，中断命令执行
engine-strict = false

# 开启 node 包执行的钩子 使 pnpm 可以执行用户定义的 hook
enable-pre-post-scripts = true

# 通过该配置兜底解决组件没有类型提示的问题
shamefully-hoist = true