<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <!-- 定义当前 HTML 页面所使用的字符集 -->
    <meta charset="UTF-8" />
    <!-- 针对 IE 浏览器的一个特殊配置，含义是让 IE 浏览器以最高的渲染级别来渲染页面 -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- 开启理想视口，并禁用缩放功能，强制文档与设备的宽度保持 1:1 -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <!-- 注入打包时间，方便查看线上版本是否更新 -->
    <meta name="build-time" content="<%= buildTime %>" />
    <!-- 页签标题 -->
    <title><%= VITE_APP_TITLE %></title>
    <!-- 页签标题左侧新图标 -->
    <link rel="icon" type="image/png" href="/src/assets/images/logo.png" />
    <!-- 引入浏览器重置样式表 -->
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/app-loading.css" />
  </head>
  <body>
    <!-- VueJS 挂载的 DOM 容器 -->
    <div id="app">
      <!-- 白屏阶段会执行的 CSS 加载动画 -->
      <div class="app-loading">
        <div class="app-loading-wrap">
          <img src="/src/assets/images/logo.png" class="app-loading-logo" alt="Logo" />
          <div class="app-loading-dots">
            <span class="dot"><i></i><i></i><i></i><i></i></span>
          </div>
          <div class="app-loading-title"><%= VITE_APP_TITLE %></div>
        </div>
      </div>
    </div>
  </body>
</html>
