/* -------------------------------------------------------------------------- */
/*                                    Float                                   */
/* -------------------------------------------------------------------------- */
/* 元素左浮动 */
.fl {
  float: left;
}
/* 元素右浮动 */
.fr {
  float: right;
}
/* 同时解决高度塌陷和外边距折叠的问题 */
/* prettier-ignore */
.clearFix::before, .clearFix::after {
  content: '';
  display: table;
  clear: both;
}

/* -------------------------------------------------------------------------- */
/*                                Width Height                                */
/* -------------------------------------------------------------------------- */
.w-full {
  width: 100%;
}
.h-full {
  height: 100%;
}
.wh-full {
  width: 100%;
  height: 100%;
}
.w-screen {
  width: 100vw;
}
.h-screen {
  height: 100vh;
}
.wh-screen {
  width: 100vw;
  height: 100vh;
}

/* -------------------------------------------------------------------------- */
/*                                    Flex                                    */
/* -------------------------------------------------------------------------- */
.flex {
  display: flex;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.justify-around {
  justify-content: space-around;
}
.justify-end {
  justify-content: flex-end;
}
.justify-evenly {
  justify-content: space-evenly;
}
.items-center {
  align-items: center;
}
