/* -------------------------------------------------------------------------- */
/*                                    Float                                   */
/* -------------------------------------------------------------------------- */
/* 元素左浮动 */
.fl {
  float: left;
}
/* 元素右浮动 */
.fr {
  float: right;
}
/* 同时解决高度塌陷和外边距折叠的问题 */
/* prettier-ignore */
.clearFix::before, .clearFix::after {
  content: '';
  display: table;
  clear: both;
}
