@use './variables.scss'; // 全局 CSS 变量
@use 'nprogress/nprogress.css';
@use './transition.scss';

body {
  font-family: var(--lx-font-family);
  color: var(--lx-text-color-primary);
  background-color: var(--lx-bg-color-page);
}

/* 顶部加载进度条的颜色 */
#nprogress .bar {
  background-color: var(--lx-color-primary);
}
