// enter-active 设定整个入场动画的状态具体如何展示，如，动画持续的时间，过渡的动画类型
// leave-active 设定整个出场动画的状态具体如何展示，如，动画持续的时间，过渡的动画类型
// enter-from 入场动画的初始状态
// leave-to 入场动画的结束状态

// fade-transform
.fade-transform-leave-active,
.fade-transform-enter-active {
  transition: all 0.5s;
}
.fade-transform-enter-from {
  opacity: 0;
  transform: translateX(-30px);
}
.fade-transform-leave-to {
  opacity: 0;
  transform: translateX(30px);
}
