/** 全局 CSS 变量，这种变量不仅可以在 CSS 和 SCSS 中使用，还可以导入到 JS 中使用 */
@use './mixins/function.scss' as *;

$color-white: #ffffff !default;
$color-black: #000000 !default;
$color-primary: #409eff !default;
$color-success: #67c23a !default;
$color-warning: #e6a23c !default;
$color-danger: #f56c6c !default;

:root {
  #{getCssVarName('color','white')}: $color-white;
  #{getCssVarName('color','black')}: $color-black;
  #{getCssVarName('color','primary')}: $color-primary;
  #{getCssVarName('color','success')}: $color-success;
  #{getCssVarName('color','warning')}: $color-warning;
  #{getCssVarName('color','danger')}: $color-danger;

  #{getCssVarName('navbar','height')}: 50px; // 导航栏的高度
  #{getCssVarName('navbar','bg-color')}: $color-white; // 导航栏背景色

  #{getCssVarName('sidebar','width')}: 220px; // 侧边栏宽度
  #{getCssVarName('sidebar','hide-width')}: 64px; // 侧边栏折叠的宽度
  #{getCssVarName('sidebar','text-color')}: $color-white; // 侧边栏的文本颜色
  #{getCssVarName('sidebar','bg-width')}: #2b2b2b; // 侧边栏的背景色
  #{getCssVarName('sidebar','box-shadow')}: 2px 0 6px rgba(0, 21, 41, 0.35); // 侧边栏的背景色
}
